<!DOCTYPE html>

<html lang="en-IN" xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="dns-prefetch" href="https://maps.googleapis.com/">
    <link rel="dns-prefetch" href="https://maps.gstatic.com/">
    <link rel="dns-prefetch" href="https://mts0.googleapis.com/">
    <link rel="dns-prefetch" href="https://mts1.googleapis.com/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <!--[if IE]><![endif]-->
    <meta charset="utf-8">

    <!--[if IE 8]>
    <link media="all" type="text/css" rel="stylesheet" href="http://makent.trioangle.com/css/common_ie8.css">

    <![endif]-->
    <!--[if !(IE 8)]><!-->
    <link media="all" type="text/css" rel="stylesheet" href="css/common.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/home.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/themes.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/dynamic.css">

    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link media="all" type="text/css" rel="stylesheet" href="http://makent.trioangle.com/css/airglyphs-ie8.css">

    <![endif]-->


    <style type="text/css">
        .ui-selecting {
            background: #FECA40;
        }

        .ui-selected {
            background: #F39814;
            color: white;
        }
    </style>

    <title>Transaction History </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <meta name="description" content="Transaction History">
    <meta name="keywords" content="">


    <meta name="twitter:widgets:csp" content="on">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="search" type="application/opensearchdescription+xml" href="#" title="">

    <meta name="mobile-web-app-capable" content="yes">

    <meta name="theme-color" content="#f5f5f5">

</head>
<body class="" ng-app="App">
<% include header.ejs %>
<% include modal.ejs %>

<main id="site-content" role="main" ng-controller="account_user_management" ng-init="transactionInit()">

    <div class="subnav hide-print">
        <div class="page-container-responsive">
            <ul class="subnav-list">
                <li>
                    <a href="/getDashBoardPage" aria-selected="false" class="subnav-item">Dashboard</a>
                </li>
                <li>
                    <a href="/yourListings" aria-selected="false" class="subnav-item">Your Listings</a>
                </li>
                <li>
                    <a href="/yourTrips" aria-selected="false" class="subnav-item">Your Trips</a>
                </li>
                <li>
                    <a href="/editProfilePage" aria-selected="false" class="subnav-item">Profile</a>
                </li>
                <li>
                    <a href="#" aria-selected="true" class="subnav-item">Account</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="page-container-responsive row-space-top-4 row-space-4">
        <div class="row">
            <div class="col-md-3">
                <ul class="sidenav-list">


                    <li>
                        <a href="/Account_Payment_Method" aria-selected="false" class="sidenav-item">Payment Method</a>
                    </li>

                    <li>
                        <a href="/Account_Transactions" aria-selected="true" class="sidenav-item">Transaction
                            History</a>
                    </li>


                    <li>
                        <a href="/Account_Security" aria-selected="false" class="sidenav-item">Security</a>
                    </li>


                </ul>
            </div>
            <div class="col-md-9">
                <div id="transaction-history" class="panel">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">PayIn Transactions</a></li>
                        <li><a data-toggle="tab" href="#menu1">PayOut Transactions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Pay In Transactions</h3>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>User</th>
                                    <th>Bill</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in payin">
                                    <td>{{x.createdDate | date:"MM/dd/yyyy"}}</td>
                                    <td>Credit Card</td>
                                    <td>{{x.propertyId.name }}</td>
                                    <td>{{x.total}}</td>
                                    <td>{{x.userId.firstName}}</td>
                                    <td><a href="/receipt?billId={{x._id}}">View Bill</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Pay Out Transactions</h3>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Paid To</th>
                                    <th>Bill</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in payout">
                                    <td>{{x.createdDate | date:"MM/dd/yyyy"}}</td>
                                    <td>Credit Card</td>
                                    <td>{{x.propertyId.name }}</td>
                                    <td>{{x.total}}</td>
                                    <td>{{x.hostId.firstName}}</td>
                                    <td><a href="/receipt?billId={{x._id}}">View Bill</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="payout-eta-modal"></div>
            </div>

        </div>
    </div>

</main>

<% include footer.ejs %>

<div id="gmap-preload" class="hide"></div>

<div class="ipad-interstitial-wrapper"><span data-reactid=".1"></span></div>

<div id="fb-root"></div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXyRBiyRcEzHDJ8iU00zECMUP4cXBIm6A&sensor=false&libraries=places"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.2/angular.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.3.2/angular-sanitize.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.login_popup_head').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".login_popup").show();
            $(".signup_popup").hide();
            $(".signup_popup2").hide();
        });
        $('.login-close').click(function (event) {
            $("body").removeClass("pos-fix");
            $(".login_popup").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.forgot-password-popup').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".login_popup").hide();
            $(".forgot-passward").show();
        });
        $('.login-close').click(function (event) {
            $("body").removeClass("pos-fix");
            $(".forgot-passward").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.signup_popup_head').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".signup_popup").show();
            $(".login_popup").hide();
        });
        $('.login-close').click(function () {
            $("body").removeClass("pos-fix");
            $(".signup_popup").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.signup_popup_head2').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".signup_popup2").show();
            $(".signup_popup").hide();
        });
        $('.login-close').click(function () {
            $("body").removeClass("pos-fix");
            $(".signup_popup2").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.menu-group li a').click(function () {
            $('.nav--sm').css('visibility', 'hidden');
        });
    });
</script>
<script>
    var app = angular.module('App', ['ngSanitize']);
    var APP_URL = "http:\/\/localhost:3000";
    $.datepicker.setDefaults($.datepicker.regional["en"])
</script>


<script type="application/javascript" src="js/common.js"></script>

<script type="application/javascript" src="controller/common_controller.js"></script>

<script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>

<!-- ver. 87c23752f8dfbd60bf83837d2c8b2dcd0ec660a9 -->
<div class="tooltip tooltip-bottom-middle" role="tooltip" aria-hidden="true">
    <p class="panel-body">To sign up, you must be 18 or older. Other people won’t see your birthday.</p>
</div>
</body>
</html>