<div id="footer" class="pull-left container-brand-dark footer-surround footer-container"
     style="width:100%; background-image:url(/images/footer-background.png)">
    <footer class="page-container-responsive">
        <div class="row row-condensed">

            <div class="col-md-3 col-md-offset-1">
                <div class="language-curr-picker clearfix">
                    <div class="select select-large select-block row-space-2">
                        <label id="language-selector-label" class="screen-reader-only">
                            Choose language
                        </label>
                        <select class="language-selector" aria-labelledby="language-selector-label" id="language_footer"
                                name="language">
                            <option value="id">Bahasa Indonesia</option>
                            <option value="ms">Bahasa Melayu</option>
                            <option value="ca">Catal&agrave;</option>
                            <option value="da">Dansk</option>
                            <option value="de">Deutsch</option>
                            <option value="en" selected="selected">English</option>
                            <option value="es">Espa&ntilde;ol</option>
                            <option value="el">E&lambda;&lambda;&eta;&nu;&iota;&kappa;ά</option>
                            <option value="fr">Fran&ccedil;ais</option>
                            <option value="it">Italiano</option>
                            <option value="hu">Magyar</option>
                            <option value="nl">Nederlands</option>
                            <option value="pl">Polski</option>
                            <option value="pt">Portugu&ecirc;s</option>
                            <option value="fi">Suomi</option>
                            <option value="tr">T&uuml;rk&ccedil;e</option>
                            <option value="ru">Русский</option>
                            <option value="th">ภาษาไทย</option>
                            <option value="zh">中文 (简体)</option>
                        </select>
                    </div>


                    <div class="select select-large select-block row-space-2">
                        <label id="currency-selector-label" class="screen-reader-only">Choose currency</label>
                        <select class="currency-selector" aria-labelledby="currency-selector-label" id="currency_footer"
                                name="currency">
                            <option value="USD" selected="selected">USD</option>
                            <option value="GBP">GBP</option>
                            <option value="EUR">EUR</option>
                            <option value="AUD">AUD</option>
                            <option value="SGD">SGD</option>
                            <option value="SEK">SEK</option>
                            <option value="DKK">DKK</option>
                            <option value="MXN">MXN</option>
                            <option value="BRL">BRL</option>
                            <option value="MYR">MYR</option>
                            <option value="PHP">PHP</option>
                            <option value="CHF">CHF</option>
                            <option value="INR">INR</option>
                            <option value="ARS">ARS</option>
                            <option value="CAD">CAD</option>
                            <option value="CNY">CNY</option>
                            <option value="CZK">CZK</option>
                            <option value="HKD">HKD</option>
                            <option value="HUF">HUF</option>
                            <option value="IDR">IDR</option>
                            <option value="ILS">ILS</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="NOK">NOK</option>
                            <option value="NZD">NZD</option>
                            <option value="PLN">PLN</option>
                            <option value="RUB">RUB</option>
                            <option value="THB">THB</option>
                            <option value="TRY">TRY</option>
                            <option value="TWD">TWD</option>
                            <option value="VND">VND</option>
                            <option value="ZAR">ZAR</option>
                        </select>
                    </div>

                    <div class="cx-number"></div>
                </div>
            </div>

            <div class="col-md-2 col-md-offset-1 hide-sm">
                <h2 class="h5">Company</h2>
                <ul class="list-layout">
                    <li><a href="" class="link-contrast">Terms of Service</a></li>
                    <li><a href="" class="link-contrast">Privacy Policy</a></li>
                    <li><a href="" class="link-contrast">Host Guarantee</a></li>
                    <li><a href="" class="link-contrast">Guest Refund</a></li>
                    <li><a href="" class="link-contrast">Copyright Policy</a></li>
                    <li><a href="" class="link-contrast">Consent Disagree</a></li>
                    <li><a href="" class="link-contrast">About Us</a></li>
                </ul>
            </div>

            <div class="col-md-2 hide-sm">
                <h2 class="h5">Discover</h2>
                <ul class="list-layout">
                    <li><a href="" class="link-contrast">Travel Credit</a></li>
                    <li><a href="" class="link-contrast">Trust &amp; Safety</a></li>
                </ul>
            </div>

            <div class="col-md-2 hide-sm">
                <h2 class="h5">Hosting</h2>
                <ul class="list-layout">
                    <li><a href="" class="link-contrast">Why Host</a></li>
                    <li><a href="" class="link-contrast">Hospitality</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 space-4 space-top-4 show-sm">
            <ul class="list-layout list-inline text-center h5">
                <li><a href="" class="link-contrast">Terms of Service</a></li>
                <li><a href="" class="link-contrast">Privacy Policy</a></li>
                <li><a href="" class="link-contrast">Host Guarantee</a></li>
                <li><a href="" class="link-contrast">Guest Refund</a></li>
                <li><a href="" class="link-contrast">Copyright Policy</a></li>
                <li><a href="" class="link-contrast">Consent Disagree</a></li>
                <li><a href="" class="link-contrast">About Us</a></li>
            </ul>
        </div>

        <hr class="footer-divider space-top-8 space-4 hide-sm">

        <div class="text-center">
            <h2 class="h5 space-4 hide-sm">Join Us On</h2>
            <ul class="list-layout list-inline">
                <link itemprop="url" href="">
                <meta itemprop="logo" content="">
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Facebook</span>
                        <i class="icon footer-icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Google_plus</span>
                        <i class="icon footer-icon icon-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Twitter</span>
                        <i class="icon footer-icon icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Linkedin</span>
                        <i class="icon footer-icon icon-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Pinterest</span>
                        <i class="icon footer-icon icon-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Youtube</span>
                        <i class="icon footer-icon icon-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="link-contrast footer-icon-container">
                        <span class="screen-reader-only">Instagram</span>
                        <i class="icon footer-icon icon-instagram"></i>
                    </a>
                </li>
            </ul>
            <div class="space-top-2 text-muted">
                © Airbnb, Inc.
            </div>
        </div>
    </footer>
</div>	