<div class="subnav hide-print">
  <div class="page-container-responsive">
    <ul class="subnav-list">
      <li>
        <a href="" aria-selected="false" class="subnav-item">Dashboard</a>
      </li>
      <li>
        <a href="" aria-selected="false" class="subnav-item">Inbox</a>
      </li>
      <li>
        <a href="" aria-selected="true" class="subnav-item">Your Listings</a>
      </li>
      <li>
        <a href="profile_yourTrips.ejs" aria-selected="false" class="subnav-item">Your Trips</a>
      </li>
      <li>
        <a href="" aria-selected="false" class="subnav-item">Profile</a>
      </li>
      <li>
        <a href="" aria-selected="false" class="subnav-item">Account</a>
      </li>
      <li>
        <a href="" class="subnav-item">Travel Credit</a>
      </li>
    </ul>
  </div>
</div>