<!DOCTYPE html>

<html lang="en-IN" xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="dns-prefetch" href="https://maps.googleapis.com/">
    <link rel="dns-prefetch" href="https://maps.gstatic.com/">
    <link rel="dns-prefetch" href="https://mts0.googleapis.com/">
    <link rel="dns-prefetch" href="https://mts1.googleapis.com/">


    <!--[if IE]><![endif]-->
    <meta charset="utf-8">

    <!--[if IE 8]>
    <link media="all" type="text/css" rel="stylesheet" href="http://makent.trioangle.com/css/common_ie8.css">

    <![endif]-->
    <!--[if !(IE 8)]><!-->
    <link media="all" type="text/css" rel="stylesheet" href="css/common.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/home.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/themes.css">

    <link media="all" type="text/css" rel="stylesheet" href="css/dynamic.css">

    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link media="all" type="text/css" rel="stylesheet" href="http://makent.trioangle.com/css/airglyphs-ie8.css">

    <![endif]-->


    <style type="text/css">
        .ui-selecting {
            background: #FECA40;
        }

        .ui-selected {
            background: #F39814;
            color: white;
        }
    </style>

    <title>Reviews </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <meta name="description" content="Reviews">
    <meta name="keywords" content="">


    <meta name="twitter:widgets:csp" content="on">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="search" type="application/opensearchdescription+xml" href="#" title="">

    <meta name="mobile-web-app-capable" content="yes">

    <meta name="theme-color" content="#f5f5f5">

</head>
<body class="" ng-app="App">
<% include header.ejs %>
<% include modal.ejs %>

<main id="site-content" role="main" ng-controller="review_controller" ng-init="loadReviewByPage()">

    <div class="subnav hide-print">
        <div class="page-container-responsive">
            <ul class="subnav-list">
                <li>
                    <a href="/getDashBoardPage" aria-selected="false" class="subnav-item">Dashboard</a>
                </li>
                <li>
                    <a href="/yourListings" aria-selected="false" class="subnav-item">Your Listings</a>
                </li>
                <li>
                    <a href="/yourTrips" aria-selected="false" class="subnav-item">Your Trips</a>
                </li>
                <li>
                    <a href="#" aria-selected="true" class="subnav-item">Profile</a>
                </li>
                <li>
                    <a href="/Account_Transactions" aria-selected="false" class="subnav-item">Account</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="notification-area"></div>
    <div class="page-container-responsive space-top-4 space-4">
        <div class="row">
            <div class="col-md-3 space-sm-4">
                <div class="sidenav">
                    <ul class="sidenav-list">
                        <li>
                            <a href="/editProfilePage" aria-selected="false" class="sidenav-item">Edit Profile</a>
                        </li>
                        <li>
                            <a href="/getUserPhotoPage" aria-selected="false" class="sidenav-item">Photos</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="true" class="sidenav-item">Reviews</a>
                        </li>
                    </ul>
                </div>
                <a href="/profile/" class="btn btn-block row-space-top-4" target="_blank">View Profile</a>
            </div>
            <div class="col-md-9">

                <ul role="tablist" class="tabs">
                    <li>
                        <a aria-selected="false" aria-controls="received" role="tab" href="/getUserReviewAboutPage"
                           class="tab-item">
                            Reviews About You
                        </a>
                    </li>
                    <li>
                        <a aria-selected="true" aria-controls="sent" role="tab" class="tab-item" href="">
                            Reviews By You
                        </a>
                    </li>
                </ul>

                <div id="dashboard-content">

                    <div class="row-space-top-4" id="reviews">
                        <div id="received" role="tabpanel" class="tab-panel" style="">
                            <div class="panel row-space-top-4">
                                <div class="panel-header">
                                    Past Reviews You’ve Written to Host
                                </div>
                                <div class="panel-body">
                                    <ul class="list-layout reviews-list">
                                        <li class="reviews-list-item media row-space-top-2"
                                            ng-repeat="review in toHostReview">
                                            <a class="media-photo media-round pull-left row-space-top-0"
                                               href="/profile/{{review.hostId.userId}}" target="_blank">
                                                <img width="50" height="50" src="/images/{{review.hostId.profileImage}}">
                                            </a>
                                            <div class="media-body">
                                                <h5>
                                                    Review for <a class="text-normal"
                                                                  href="/profile/{{review.hostId.userId}}"
                                                                  target="_blank">{{review.hostId.firstName}}
                                                        {{review.hostId.lastName}}</a>
                                                </h5>
                                                <p>
                                                    {{review.review}}
                                                </p>
                                                <p>
                                                    rating {{review.rating}}
                                                </p>
                                                <p class="clearfix text-muted">
                                                    date {{review.createdDate | date: "shortDate"}}
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row-space-top-4" id="reviews">
                        <div id="received" role="tabpanel" class="tab-panel" style="">
                            <div class="panel row-space-top-4">
                                <div class="panel-header">
                                    Past Reviews You’ve Written to User
                                </div>
                                <div class="panel-body">
                                    <ul class="list-layout reviews-list">
                                        <li class="reviews-list-item media row-space-top-2"
                                            ng-repeat="review in toUserReview">
                                            <a class="media-photo media-round pull-left row-space-top-0"
                                               href="/profile/{{review.userId.userId}}" target="_blank">
                                                <img width="50" height="50" src="/images/{{review.userId.profileImage}}">
                                            </a>
                                            <div class="media-body">
                                                <h5>
                                                    Review for <a class="text-normal"
                                                                  href="/profile/{{review.userId.userId}}"
                                                                  target="_blank">{{review.userId.firstName}}
                                                        {{review.userId.lastName}}</a>
                                                </h5>
                                                <p>
                                                    {{review.review}}
                                                </p>
                                                <p>
                                                    rating {{review.rating}}
                                                </p>
                                                <p class="clearfix text-muted">
                                                    date {{review.createdDate | date: "shortDate"}}
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

</main>

<% include footer.ejs %>
<div id="gmap-preload" class="hide"></div>

<div class="ipad-interstitial-wrapper"><span data-reactid=".1"></span></div>

<div id="fb-root"></div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXyRBiyRcEzHDJ8iU00zECMUP4cXBIm6A&sensor=false&libraries=places"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.2/angular.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.3.2/angular-sanitize.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.login_popup_head').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".login_popup").show();
            $(".signup_popup").hide();
            $(".signup_popup2").hide();
        });
        $('.login-close').click(function (event) {
            $("body").removeClass("pos-fix");
            $(".login_popup").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.forgot-password-popup').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".login_popup").hide();
            $(".forgot-passward").show();
        });
        $('.login-close').click(function (event) {
            $("body").removeClass("pos-fix");
            $(".forgot-passward").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.signup_popup_head').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".signup_popup").show();
            $(".login_popup").hide();
        });
        $('.login-close').click(function () {
            $("body").removeClass("pos-fix");
            $(".signup_popup").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.signup_popup_head2').click(function (e) {
            e.preventDefault();
            $("body").addClass("pos-fix");
            $(".signup_popup2").show();
            $(".signup_popup").hide();
        });
        $('.login-close').click(function () {
            $("body").removeClass("pos-fix");
            $(".signup_popup2").hide();
        });
        $('.top-home').click(function (event) {
            event.stopPropagation();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.menu-group li a').click(function () {
            $('.nav--sm').css('visibility', 'hidden');
        });
    });
</script>
<script>
    var app = angular.module('App', ['ngSanitize']);
    var APP_URL = "http:\/\/localhost:3000";
    $.datepicker.setDefaults($.datepicker.regional["en"])
</script>


<script src="js/common.js"></script>
<script src="controller/common_controller.js"></script>

<script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>


<!-- ver. 87c23752f8dfbd60bf83837d2c8b2dcd0ec660a9 -->
<div class="tooltip tooltip-bottom-middle" role="tooltip" aria-hidden="true">
    <p class="panel-body">To sign up, you must be 18 or older. Other people won’t see your birthday.</p>
</div>
</body>
</html>